//
   Created by Administrator on 2016/4/27.

doctype html
html
    head
        title live-room-waterfall
        meta(name="viewport",content="width=device-width,initial-scale=1.0,user-scalable=no")
        link(rel='stylesheet', href='/stylesheets/style_new.css')
        style.
            .back_to_add{
                position:fixed;
                right:0;
                top:0;
            }
    body
        - if(accountName)
            form#form(action="/we_account/loginService" method="post" onsubmit="return login();")
                .form-control
                    input#username(type="text" name="username" placeholder="    代go号")
                    span#email-tip(style="color: red;display: none;")
                .form-control
                    input#pwd(type="password" name="pwd" placeholder="    密码")
                .form-control
                    input#confirmpwd(type="password" name="confirmpwd" placeholder="    确认密码")
                
                .eform-control.login-fail #{error}
                .eform-control
                    label
                        input#rememberpwd(name="remember-pwd" type="checkbox" value="")
                        span 记住密码
                    label
                        a(href="/we_account/forgetpwd") 忘记密码
                input#loginBtn(type="submit" class="" value="登录")
        - else if(error)
            #{error}
    script(src="/javascripts/jquery.js")
    script.
        function login(){
            return true;
        }