//
    Created by Administrator on 15-1-23.
//
    相对布局瀑布流
doctype html
html
    head
        title 代代
        meta(name="viewport",content="width=device-width,initial-scale=1.0,user-scalable=no")
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-grid.css')
        link(rel='stylesheet', href='/stylesheets/style_new.css')
        style.
             .page {
                 display: block;
             }
    body
        div.page.register
        div.page.products-page.live_room.slide-init
            #header
                .head.col-xxs-3.col-xs-2
                    img(src="/images/test_1429245238251.jpg")
                .detail-personal-info.col-xxs-9.col-xs-10
                    .nick-name.col-xxs-6 香港代购
                    .room-num.col-xxs-6 代代号:888888
                    .host-intro.introduce 下单立减哦
                    //.level.col-xxs-5 weix_47828325
                    .attention.col-xxs-7 关注者:
                        span.attention-num 110
                    .qr-code-btn.col-xxs-5 加TA微信
            .

    script(src="/javascripts/jquery.js")
    script(src="/javascripts/cut.js")