//
   Created by Administrator on 15-1-23.
//
    相对布局瀑布流


doctype html
html
    head
        - if(publisher)
            title #{publisher.nickname}的momenT
        - else
            title #{host}的momenT
        meta(name="viewport",content="width=device-width,initial-scale=1.0,user-scalable=no")
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-grid.css')
        link(rel='stylesheet', href='/build/css/af.ui.base.min.css')
        link(rel='stylesheet', href='/stylesheets/style_new.css')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        script(src="/javascripts/jquery.js")
        script(src="/build/ui/af.ui.jquery.min.js")
        //script(src="//cdn.app-framework-software.intel.com/2.1/appframework.min.js")
        //script(src="/build/jq.appframework.min.js")
        //script(src="/javascripts/libs/jquery.mobile.custom.js")
        //script(src="/javascripts/libs/bootstrap.min.js")
        script(src="/javascripts/preloadImg.js")
        script(src="/javascripts/waterfall_relative.js")
        script(src="/javascripts/ajaxupload.js")
        script(src="/javascripts/live_room.js")
        script(src="/javascripts/libs/require/require.js" data-main="/jqr.js")
        script.
            function load(){
                waterfall.asyncLoader();
            }
        style.
            .back_to_add{
                position:fixed;
                right:0;
                top:0;
            }
    body
        div#main.view
            div.pages
                div(selected='true')#live_room.panel
                    div()
                        div(style="float:left;")
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds
                            div fdsfdsfsfds


                    a(href="#product" data-transition="slide" style="display:none;")#product-hash
                div#product.panel


