//
   Created by Administrator on 15-1-23.
//
    相对布局瀑布流


doctype html
html
    head
        title 的momenT
        meta(name="viewport",content="width=device-width,initial-scale=1.0,user-scalable=no")
        link(rel='stylesheet', href='/stylesheets/style_new.css')
        link(rel='stylesheet', href='/css/mystyle.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-grid.css')
        //link(rel='stylesheet', href='/build/css/af.ui.base.min.css')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        style.
            .back_to_add{
                position:fixed;
                right:0;
                top:0;
            }
    body
        div.page.register
        div.page.products-page.live_room.slide-init
            #header
                .room_num 直播号:
            section().waterfall
                div.column
                div.column
                div.column
                div.column
                div.column
                div.column
                div.column
                div.column

            div#tools-box
                div#upload-div-box
                    div#upload-div
                        div#upload
                            i.fa.fa-plus
                            //div.vertical
                            //div.horizon
                a#toMyFav
                    div.myfavorites
                        i.fa.fa-folder
                a#toRoomDoor
                    div.changeRoom
                        i.fa.fa-exchange
                div.favorite


        div.page.publish
            div#upload-panel
                div(role="alert")#warn.alert.alert-warning.fade.in 至少需要发布一张图片
                //div#sub-btn
                //    input(type="button" value="确定")#submit
                input(type="text" placeholder="先来个简单介绍...").product-title
                textarea(placeholder="详细说点什么吧，让顾客更好的了解您的产品...").product-desc
                div#image_content
                    //.upload-display
                        img(src='http://120.24.224.144/images/test_1430359628167.jpg')
                        a#delete-img
                            div.delete-img
                                i.fa.fa-times-circle
                        .adjustImg
                            i.fa.fa-rotate-right
                .lr-btn-group.col-xxs-6.col-xxs-offset-3
                    div#cancel-btn.col-xxs-6
                        div
                            i#cancel.fa.fa-times-circle
                    div#sub-btn.col-xxs-6
                        div
                            i#submit.fa.fa-upload
            div#disableClick-mask
        div.page.product_display.slide-init
            div
                .desc.col-lg-offset-4.col-lg-4.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2.col-xxs-12
                #product.col-lg-offset-4.col-lg-4.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2.col-xxs-12

                    .product-photo
                        .img-box
                            img(src="http://120.24.224.144/images/default.jpg")
                #order_info.col-xxs-12
                    .order_quantity.col-xxs-12
                        span 订单数量：
                        span.sub-order
                            i.fa.fa-minus
                        span.qtt_num 1
                        span.add-order
                            i.fa.fa-plus
                    .order_remark.col-xxs-12
                        span 备注：
                        textarea(placeholder='对卖家说点啥要求')
                #take_order.col-xxs-12 下单
                a#back-live-room
                    .back-live-room.col-xxs-12
                        .icon-box
                            .icon
            div.stick-width
        div.page.myFavorite
            ul#room-list
        div.page.room_door
            form.door.col-lg-offset-3.col-lg-6.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2.col-xxs-12
                div.room_input.col-xxs-12.col-xs-10.col-xs-offset-1.col-md-8.col-md-offset-2
                    input(type="input" placeholder="输入昵称或直播号")#room.col-xxs-9.col-xs-9.col-md-8
                    div.submit-div
                        a.fa.fa-arrow-right
        div.page.personality
        div.page.billSystem
            #order-list
            #pay-list
            #bill-list
                .position.t-col-10
                    .t-col-2.t-col-xs-3
                        input(type="text" placeholder="开始日期" value="" disable=true onclick='laydate({max:laydate.now()})').date#date1
                    .t-col-2.t-col-xs-3
                        input(type="text" placeholder="开始日期" value="" onclick='laydate({max:laydate.now()})').date#date2
                    .t-col-3.t-col-xs-3
                        input(type="text" placeholder="根据买家搜索" value="").search-input#nickname-position
                    .t-col-1.t-col-xs-1
                        input(type="button" value="GO").search-input#search-go
                .bill-list-content
            ul#vagueBox
            div(style='position: fixed;bottom: 100px;')#switchList
                input(type='button' value='账单列表')#to_order.current-list
                input(type='button' value='付款列表')#to_pay
                input(type='button' value='总账单列表')#to_bill
        div.page.contact-page
            div.curr-product
        //div(style='position:fixed;top:10px;right:10px;')
        //    a(href='#billSystem') 账单系统
        div#uploading-mask
        div#loading
        div(data-orderstatus='#{orderStatus}')#forTakeOrder

script(src="/javascripts/jquery.js")
//script(src="/build/ui/af.ui.jquery.min.js")
//script(src="//cdn.app-framework-software.intel.com/2.1/appframework.min.js")
//script(src="/build/jq.appframework.min.js")
script(src="/javascripts/libs/jquery.mobile.custom.js")
//script(src="/javascripts/libs/bootstrap.min.js")
script(src="/javascripts/preloadImg.js")
script(src="/javascripts/waterfall_relative.js")
script(src="/javascripts/ajaxupload.js")
//script(src="/javascripts/live_room.js")
script(src="/javascripts/libs/require/require.js" data-main="/jqr.js")
