//
   Created by Administrator on 2016/7/10.

doctype html
html
    head
        title 代go注册失败
        meta(name="viewport",content="width=device-width,initial-scale=1.0,user-scalable=no")
        link(rel="stylesheet",href="//static.daidai2u.com/stylesheets/result.css")
    body
        H3.text-center 账号注册
        H3.text-center.w-split
            .split-line
            .split-text 代go
        H3 #{result}