//
   Created by Administrator on 2016/4/27.

doctype html
html
    head
        title live-room-waterfall
        meta(name="viewport",content="width=device-width,initial-scale=1.0,user-scalable=no")
        link(rel="stylesheet",href="//static.daidai2u.com/stylesheets/result.css")
    body
        H3.text-center #{title}
        H3.text-center.w-split
            .split-line
            .split-text 代go
        H4 #{result}