//
   Created by Administrator on 2016/4/27.

doctype html
html
    head
        title live-room-waterfall
        meta(name="viewport",content="width=device-width,initial-scale=1.0,user-scalable=no")
    body
        H3 #{result}