html{
    font-size: 10px;
}
body{
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}
*{
    box-sizing: border-box;
}

#pay-list,#bill-list{
    display: none;
}

.card{
    width: 100%;
    float: left;
    border: 1px solid #cdcdcd;
    background-color: rgba(234, 244, 241, 0.4);
    overflow-x: hidden;
}

.card-title{
    text-align: center;
    padding: 8px 0 8px 0;
}

.card .active{
    box-shadow: 1px 3px 5px rgba(184, 184, 184, 1);
}

.all-status{
    float: right;
    margin-right: 10px;
}

.all-status > span{
    font-size: 0.6rem;
    float: left;
}

.card-title .fa-caret-right,.card-title .fa-caret-down{
    margin-left: 15px;
    color: rgb(25, 126, 122);
}
.card-title .fa-square-o{
    color: rgba(200, 30, 40, 1);
}

.fa-check-square,.fa-square-o{
    font-size: 1.8rem !important;
}

.card-title > div{
    display: inline;
}

#pay-list .table,#order-list .table{
    /*border: 1px solid #cdcdcd;*/
    float: left;
    width: 100%;
    display: none;
}

.card-title .fa-caret-right,.card-title .fa-caret-down{
    float: left;
    color: rgba(200,30,40,1);
    font-size: 2rem;
}

.product > span:first-child{
    color: #615E5E;
    font-size: 0.6rem;
}

.product > span.tq-span{
    color: #615E5E;
    font-size: 0.6rem;
}

.product .name,.product .total-quantity{
    font-weight: bold;
    color: rgb(51, 52, 56);
    font-size: 1.6rem;
}

.t-row{
    width: 100%;
    float: left;
    /*-webkit-transition: all 1s;-moz-transition: all 1s;-ms-transition: all 1s;-o-transition: all 1s;transition: all 1s;*/
}

.t-row{
    border-bottom: 1px solid #cdcdcd;
}
.t-row:first-child{
    border-top: 1px solid #cdcdcd;
}
.t-row:last-child{
    border-bottom: 1px solid #cdcdcd;
}
.t-row-over-1{
    width: 111%;
}
.t-row-over-2{
    width: 125%;
}
.t-row-over-3{
    width: 142.8%;
}
.t-col{
    display: inline-block;
    border-right: 1px solid #cdcdcd;
    text-align: center;
    float: left;
    padding-top: 6px;
    padding-bottom: 0;
    overflow: hidden;
    height: 32px;
    /*padding-left: 2px;*/
    /*padding-right: 2px;*/
}

.input-div{
    padding: 1px 0 1px 0;
}

.t-col input[type='text']{
    width: 100%;
    height: 90%;
    border: none;
    background-color: rgba(0,0,0,0);
}
.t-row .t-col:last-child{
    border-right: transparent;
}
.t-col-1{
    width: 10%;
    float: left;
}
.t-col-2{
    width: 20%;
    float: left;
}
.t-col-3{
    width: 30%;
    float: left;
}
.t-col-4{
    width: 40%;
    float: left;
}
.t-col-5{
    width: 50%;
    float: left;
}
.t-col-6{
    width: 60%;
    float: left;
}
.t-col-9{
    width: 90%;
    float: left;
}
.t-col-10{
    width: 100%;
    float: left;
}
@media all and (max-width: 560px) {
    .t-col-xs-1{
        width: 10%;
        float: left;
    }
    .t-col-xs-2{
        width: 20%;
        float: left;
    }
    .t-col-xs-3{
        width: 30%;
        float: left;
    }
    .t-col-xs-4{
        width: 40%;
        float: left;
    }
    .t-col-xs-5{
        width: 50%;
        float: left;
    }
    .t-col-xs-6{
        width: 60%;
        float: left;
    }
    .t-col-xs-7{
        width: 70%;
        float: left;
    }
    .t-col-xs-8{
        width: 80%;
        float: left;
    }
    .t-col-xs-9{
        width: 90%;
        float: left;
    }
    .t-col-xs-10{
        width: 100%;
        float: left;
    }
}

@media all and (max-width: 360px) {
    .t-col-xxs-1{
        width: 10%;
        float: left;
    }
    .t-col-xxs-2{
        width: 20%;
        float: left;
    }
    .t-col-xxs-3{
        width: 30%;
        float: left;
    }
    .t-col-xxs-4{
        width: 40%;
        float: left;
    }
    .t-col-xxs-5{
        width: 50%;
        float: left;
    }
    .t-col-xxs-6{
        width: 60%;
        float: left;
    }
    .t-col-xxs-7{
        width: 70%;
        float: left;
    }
    .t-col-xxs-8{
        width: 80%;
        float: left;
    }
    .t-col-xxs-9{
        width: 90%;
        float: left;
    }
    .t-col-xxs-10{
        width: 100%;
        float: left;
    }
}

.billSystem{
    margin-top: 40px;
}

#switchList{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 40px;
}

#switchList > input{
    border: none;
    background: none;
    padding: 10px 6px;
    width: 33.3%;
    background-color: #FF4562;/*rgb(134, 171, 228)*/
    color: #ffffff;
    border-bottom: 3px solid #dd1a38/*rgb(80, 127, 199)*/;
}

.current-list{
    border-bottom-color: #ffffff !important;
}

.quantity{
    position: relative;
}
.quantity .sub{
    position: absolute;
    left: 7px;
    bottom: -13px;
    font-size: 3.5rem;
    display: none;
}
.quantity .add{
    position: absolute;
    right: 7px;
    bottom: -13px;
    font-size: 3.5rem;
    display: none;
}

.extra-row{
    float: left;
    width: 100%;
    padding: 6px;
}

.order-list .extra-row{
    padding-top: 0;
}

.extra-row > div{
    display: inline-block;
}

.product-detail{
    color: #159898;
}

.t-col input.mailpay{
    width: 26px;
    height: 100%;
}

.getpay{
    float: right;
}

.getpay-btn > input{
    background-color: #00b487;
    border: 1px solid #00b487;
    border-radius: 3px;
    padding: 6px 16px;
    color: white;
}

#bill-list .position > div{
    display: inline-block;
    margin-top: 6px;
    margin-bottom: 10px;
}

.date,.search-input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #cdcdcd;
}

#search{
    background: none;
    border: none;
    /* background-color: transparent; */
    color: #5A5858;
    text-shadow: 0px 4px 33px;
    /* border-bottom: 1px #cdcdcd solid; */
    border-left: 1px solid #cdcdcd;
    margin-left: -1px;
}

.bill-sum{
    text-align: center;
    margin-top: 20px;
    /*display: inline-block;*/
}

#sum_earn{
    margin-top: 16px;
}

#vagueBox{
    position: absolute;
    display: none;
    background: white;
    list-style: none;
    text-align: left;
    margin-top: 2px;
    /*border: 1px solid #cdcdcd;*/
    padding-left: 0px;
}

#vagueBox > li{
    font-size: 1.6rem;
    padding: 3px;
    border: 1px solid #cecece;
}

/********getpay start********/

#getpay{
    margin-bottom: 3rem;
    float: left;
    width: 100%;
}

#gotoLiveroom,#backtobill{
    width: 100%;
    border: 1px solid #73C4DB;
    padding: 0.8rem;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
    position: fixed;
    bottom: 3px;
    left: 0;
    background-color: #00b487;
    text-align: center;
    text-decoration: none;
}

.total-price{
    text-align: center;
    float: left;
    color: black;
    width: 100%;
    background-color: white;
    padding: 8px;
}

.total-price > span:first-child{
    font-size: 3rem;
}

.total-price .money{
    font-size: 4rem;
    font-weight: bolder;
    color: #ea1738;
}

.total-price .money-type{
    font-size: 1rem;
    font-weight: bolder;
    color: #ea1738;
}

.input-div-cost{
    padding: 6px;
}

.unit_price{
    text-align: center;
}

.mail-detail{
    text-align: center;
}

#getpay .mailpay_getpay{
    height: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 50px;
}

.getpay-title{
    text-align: center;
    padding: 6px;
    border-bottom: 3px solid rgb(255, 121, 137);
    font-size: 2.3rem;
    font-weight: bolder;
}

/********getpay end**********/

/***********弹出框插件 start*************/
.btn-group > input{
    background-color: white;
    border: 1px solid #8E8E8E;
    padding: 4px 13px;
}

#light-popup div:first-child{
    border-top: none;
}

.rate-desc{
    font-size: 0.5rem;
}

#recharge-rate,#discount{
    width: 60px;
}

#money-input{
    width: 100px;
}

#light-popup div:last-child{
    border-bottom: none;
    text-align: center;
}

.btn-group > input{
    margin-left: 20px;
}

.btn-group > input:active{
    border-color: #f5f5f5;
}

.current {
    background-color: rgb(247, 139, 139);
}
/***********弹出框插件 end*************/

/*************select 样式 start**************/

.quantity select{
    border: none !important;
    background: transparent !important;
}
.quantity option{
    width: 80px;
    text-align: center;
}

/*************select 样式 end**************/