body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    /* padding: 6px; */
    background-color: #f1f1f1 !important;
    margin: 0;
}
.visible-block{
    display: block !important;
}
.page{
    width: 100%;
    left: 0;
}

#header{
    width: 100%;
    text-align: center;
    background-color: white;
    /*background-color: rgba(233, 234, 234, 1);*/
    /*color: white;*/
    /*padding: 8px 6px;*/
    font-size: 1.5rem;
    padding-top: 8px;
    margin-bottom: 10px;
}


#header{
    float: left;
    height: 122px;
}

#cut-body{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

H2,H3,H4,H5{
    margin-top: 10px;
    margin-bottom: 10px;
}

#header .head img{
    width: 100%;
    /*width: 108px;*/
}

.nick-name {
    text-align: left;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.room-num {
    font-size: 1rem;
    text-align: right;
    color: #999;
    line-height: 17px;
    vertical-align: bottom;
}
.host-intro {
    clear: both;
    font-size: 1.3rem;
    color: #999;
}

.host-intro {
    margin-bottom: 8px;
    text-align: left;
}

.attention, .qr-code-btn {
    position: absolute;
    bottom: 8px;
}

.attention {
    color: #12c6d1;
    font-size: 1rem;
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
    text-align: left;
    left: 0;
}

.qr-code-btn {
    background-color: rgb(236, 64, 64);
    color: white;
    padding: 3px;
    font-size: 1rem;
    right: 0;
}

.attention, .qr-code-btn {
    position: absolute;
    bottom: 8px;
}

.detail-personal-info {
    color: rgb(73, 69, 69);
    margin-left: 3%;
    height: 100%;
}
#header .col-xs-1, #header .col-xs-2, #header .col-xs-3, #header .col-xs-4, #header .col-xs-5, #header .col-xs-6, #header .col-xs-7, #header .col-xs-8, #header .col-xs-9, #header .col-xs-10, #header .col-xs-11, #header .col-xs-12 {
    padding-right: 0;
    padding-left: 0;
}

#header .col-xxs-1, #header .col-xxs-2, #header .col-xxs-3, #header .col-xxs-4, #header .col-xxs-5, #header .col-xxs-6, #header .col-xxs-7, #header .col-xxs-8, #header .col-xxs-9, #header .col-xxs-10, #header .col-xxs-11, #header .col-xxs-12 {
    padding-right: 0;
    padding-left: 0;
}

#header .col-xxs-9 {
    width: 72%;
}

.fuli-desc{
    clear: both;
    color: rgb(236, 64, 64);
    padding-top: 18px;
}

.origin-price .price,
.help-who .obj,
.person-quantity,
.has-cut-money,
.many-hours,
.many-days{
    text-decoration: underline;
    border-radius: 0;
}

.product{
    margin-top: 3px;
}

.origin-price .price{
    color: rgb(236, 64, 64);
}

#cut-btn{
    background-color: rgb(236, 64, 64);
    border: none;
    color: white;
    padding: 3px 12px;
    margin-bottom: 20px;
}

.red-btn{
    background-color: rgb(236, 64, 64);
    border: none;
    color: white;
    padding: 3px 12px;
}

#product-img{
    max-width: 200px;
}

.person-quantity,
.has-cut-money{
    margin: 0 3px;
}
/*******************start cut_list.html**********************/
.col-no-padding{
    padding-left: 0;
    padding-right: 0;
}

#cutlist{
    list-style: none;
}

#cutlist li{
    font-size: 1rem;
    border-bottom: 1px solid rgba(183, 183, 183, 1);
    padding-bottom: 6px;
    padding-top: 6px;
}

#cutlist li:first-child{
    border-top: none;
}

.c-li-attrs{
    padding-left: 6px;
}

.c-l-cname{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.8rem;
}

.c-l-headimg{
    background: url("http://bs.baidu.com/dulife/558944e54eead.jpg") no-repeat center;
    background-size: cover;
    width: 40px;
    height: 40px;
}

.c-l-pubtime{
    font-size: 1rem;
    color: #A9A9A9;
    margin-top: 5px;
}

.c-l-curr-price span,
.c-l-cut-money span{
    float: left;
}

.c-l-curr-price{
    clear: both;
}

.c-l-cut-money span:first-child,
.c-l-curr-price span:first-child {
    margin-top: 3px;
}

.c-l-cut-money span:last-child{
    color: rgb(236, 64, 64);
    font-size: 1.8rem;
}

.c-l-curr-price span:last-child{
    color: #A9A9A9;
    font-size: 1.6rem;
}

.c-li-status{
    padding-top: 5px;
}

.status-btn{
    width: 30px;
    height: 30px;
    font-size: 1rem;
    background-color: rgb(236, 64, 64);
    border: none;
    border-radius: 50%;
    color: white;
    padding: 0;
    float: right;
    margin-top: 5px;
}

.plus-btn-wrapper{
    width: 40px;
    height: 40px;
    background-color: #A9A9A9;
    position: relative;
    border: none;
}

.plus-btn-wrapper:before{
    content: '';
    position: absolute;
    border-top: 4px solid white;
    width: 20px;
    height: 0;
    left: 10px;
    top: 18px;
}

.plus-btn-wrapper:after{
    content: '';
    position: absolute;
    border-left: 4px solid white;
    height: 20px;
    width: 0;
    left: 18px;
    top: 10px;
}

.plus-btn{
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
}

#add-cut{
    border-bottom: 1px solid rgba(183, 183, 183, 1);
    padding-bottom: 10px;
}

.page{
    display: none;
}

input.obj,
input.price,
input.many-days,
input.product-name{
    width: 100px;
    background-color: #f1f1f1;
    border: none;
    border-bottom: 1px solid white;
    text-align: center;
    -webkit-transition: border 1s linear;
    -moz-transition: border 1s linear;
    -ms-transition: border 1s linear;
    -o-transition: border 1s linear;
    transition: border 1s linear;
}

input.price,
input.many-days,
input.product-name{
    width: 60px;
}

#uploading-mask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/loading.GIF");
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    background-color: #ffffff;
    z-index: 10000;
}

.enter-cut{
    float: right;
    margin-top: 10px;
    padding: 3px;
    border-radius: 4px;
}

#back-cutlist-btn{
    float: left;
}

#uploading-mask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/loading.GIF");
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    background-color: #ffffff;
    z-index: 10000;
}

#product-img_file_type{
    width: 0;
    height: 0;
}

#submit-btn{
    margin-bottom: 20px;
}

.input-invalidate{
    box-sizing: border-box;
    border: 2px solid red;
}


