body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow-x:hidden;
    /*padding: 6px;*/
    background-color: #f1f1f1 !important;
}

a {
    color: #00B7FF;
}

#header{
    width: 100%;
    text-align: center;
    background-color: rgba(200,30,40,1);
    color: white;
    /*padding: 8px 6px;*/
    font-size: 1.5rem;
    margin-top: 8px;
}

.waterfall{
    width: 100%;
    /*margin-top: 20px;*/
    position: relative;
}
.box{
    /*border:1px solid #CCCCFF;*/
    /*border-radius: 5px;*/
    width: 100%;
    margin-top: 8px;
    position: relative;
    /*padding: 2px 3px;*/
    background-color: white;
    /*padding: 3px 3px 0px 3px;*/
    border-bottom: 1px white transparent;
    box-shadow: 2px 2px 2px #a1a1a1;
    /*border-right: inset 2px #e3e3e3;*/
    /*border-bottom: inset 2px #e3e3e3;*/
}
.box img{
    /*width:30%;*/
    margin-left:3px;
    margin-top: 3px;
}
.box img:first-child{
    /*border-top-left-radius: 5px;*/
    /*border-top-right-radius: 5px;*/
    width: 100%;
    margin-left:0%;
    /*margin-bottom: 3px;*/
    margin-top: 0px;
}
.box .img-display img[data-num = "1"],.box .img-display img[data-num='4'],.box .img-display img[data-num='7']{
    margin-left: 0px;
}
.box div{
    word-break:break-all;
    /*text-align:center;*/
    font-size: 12px;
    font-family: "microsoft yahei";
}
div.desc{
    /*border-bottom: 1px solid #e6e6e6;*/
    padding: 10px 0px 3px 0px;
    text-align: left;
}

.delete-product{
    /*position: absolute;*/
    text-decoration: underline;
    color: rgba(200,30,40,1);
    right: 0;
    font-size: 12px;
    bottom: 0px;
    text-align: right !important;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-right: 3px;
}

.contact{
    text-align: center;
    font-family: "microsoft yahei";
    padding: 6px;
}

.delete-product i{
    font-size: 23px;
}

.delete-product input{
    padding: 1px 3px;
    border: none;
    color: #ffffff;
    background-color: red;
}

.column{
    width: 15%;
    float: left;
    margin-left: 10px;
    margin-bottom: 40px;
}

.unvisible{
    visibility: hidden;
}

#ls-load{position: fixed;left: 0;top: 0;z-index: 10;}

#tools-btn{
    position:absolute;
    /*right:0;*/
    /*top:0;*/
    /*padding:0px 12px;*/
    left: 0;
    bottom: 20%;
    cursor:pointer;
}
#tools-btn > div{
    width:5px;
    height:5px;
    display:inline-block;
    margin-left:3px;
    background-color:#cdcdcd;
}
#tools-panel{
    position:absolute;
    left: 0px;
    bottom: 30px;
    display:none;
    z-index:101;
}
#tools-panel > div{
    border-bottom:black 1px solid;
    background-color:#303030;
    color:#fff;
    padding:6px 8px;
    cursor:pointer;
}
#tools-panel > div:last-child{
    border-top:white 1px solid;
    background-color:#303030;
}

.favorite{
    margin: -7px auto;
    font-size: 4.3rem;
    color: white;
    text-shadow: 0px -2px 4px #c81e28;
    position: absolute;
    left: 47%;
    bottom: 4px;
    /*width: 50px;*/
    /*height: 50px;*/
}

.fa-heart{
    color: #c81e28;
    text-shadow: none;
}

.user{
    position: absolute;
    right: 0;
    bottom: 0;
}

#tools-box{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgba(200,30,40,0);
    padding-top: 6px;
    min-height: 34px;
}

.myfavorites{
    color: #ffffff;
    position: absolute;
    left: 25%;
}

.myfavorites .fa-folder-o{
    position: absolute;
    font-size: 3rem;
    left: 0px;
    top: -2px;
}

.myfavorites .fa-folder{
    /*position: absolute;*/
    /*font-size: 2rem;*/
    /*left: 0px;*/
    /*top: -13px;*/
    /*background-color: red;*/
    /*border-radius: 22px;*/
    /*width: 36px;*/
    /*height: 36px;*/
    /*padding: 9px 9px;*/
    position: absolute;
    font-size: 2rem;
    left: 0px;
    top: -20px;
    background-color: #c81e28;
    border-radius: 29px;
    width: 40px;
    height: 40px;
    padding: 11px 11px;
}
.myfavorites .fa-heart{
    position: absolute;
    color: red;
    left: 12px;
    top: 1px;
    font-size: 0.1rem;
}

.changeRoom{
    /*padding: 0px 6px;*/
    /*position: absolute;*/
    /*left: 75%;*/
    /*border: 2px solid #ffffff;*/
    /*border-radius: 5px;*/
    /*padding: 8px 10px;*/
    /*position: absolute;*/
    /*left: 75%;*/
    /* border: 2px solid #ffffff; */
    /*border-radius: 5px;*/
    /*height: 36px;*/
    /*width: 36px;*/
    /*background-color: red;*/
    /*border-radius: 20px;*/
    /*bottom: 5px;*/
    /* padding: 0px 6px; */
    /* position: absolute; */
    /* left: 75%; */
    /* border: 2px solid #ffffff; */
    /* border-radius: 5px; */
    padding: 10px 11px;
    position: absolute;
    left: 75%;
    /* border: 2px solid #ffffff; */
    height: 40px;
    width: 40px;
    background-color: #c81e28;
    border-radius: 30px;
    bottom: 8px;
}

.changeRoom .fa-exchange:hover{
    text-decoration: none;
}

.changeRoom .fa-exchange{
    font-size: 2rem;
    color: #ffffff;
}

#upload-div-box{
    position: absolute;
    background-color: rgba(200,30,40,1);
    padding: 5px;
    bottom: 20%;
    left: 44%;
    border-radius: 32px;
}

#upload-div{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border: 4px solid white;
    padding: 3px;
    border-radius: 20px;
}
#upload{
    border: none;
    background-color: transparent;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 15%;
}
#upload i{
    color: white;
    font-size: 20px;
}
#upload .horizon{
    width: 60%;
    height: 16%;
    background-color: white;
    position: absolute;
    top: 42%;
    left: 20%;
}
#upload .vertical{
    width: 16%;
    height: 60%;
    background-color: white;
    position: absolute;
    left: 42%;
    top: 20%;
}

#uploading-mask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/loading.GIF");
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    background-color: #ffffff;
}

#disableClick-mask{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(255,255,255,0);
    filter: alpha(opacity=0);
    opacity: 0;
}

#upload-panel{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #444444;
    display: none;
    top: 0;
}

textarea.product-desc{
    background: #444444;
    border: none;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    color: white;
    margin-top: 16px;
    margin-bottom: 30px;
    font-weight: bolder;
}

input.product-title{
    background: #444444;
    border: none;
    border-bottom: 1px solid #ffffff;
    width: 60%;
    height: 30px;
    color: white;
    margin-top: 56px;
    margin-bottom: 0px;
    font-weight: bolder;
}

.lr-btn-group{
    position: fixed !important;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.lr-btn-group > div{
    /*float: left;*/
}

#sub-btn{
    /*margin-top: 10px;*/
    /*width: 30px;*/
    font-size: 26px;
    /*margin-left: 10%;*/
}

#sub-btn > div{
    width: 36px;
    height: 36px;
    background-color: #58bba7;
    border-radius: 20px;
    padding-left: 0px;
    float: right;
    margin-top: 10px;
}

#submit{
    margin: 0 auto;
    /*padding: 4px 8px;*/
    border: none;
    /*background: #58bba7;*/
    /*float: right;*/
    color: #ffffff;
    font-weight: bolder;
}
#submit:active{
    background: purple;
}

#cancel-btn{
    /*text-align: center;position: fixed;bottom: 0;width: 100%;*/
    margin: 0 auto;
    /*width: 30px;*/
    /*margin-left: 38%;*/
    font-size: 40px;
}

#cancel{
    margin: 0 auto;
    /*padding: 4px 8px;*/
    border: none;
    /*background: #757978;*/
    color: rgba(168, 65, 71, 1);
    font-weight: bolder;
}

#upload2{
    border: none;
    background-color: transparent;
    position: relative;
    width: 80px;
    height: 80px;
    border: 2px solid white;
}
#upload2 .horizon{
    width: 88%;
    height: 4%;
    background-color: #ffffff;
    position: absolute;
    top: 48%;
    left: 6%;
}
#upload2 .vertical{
    width: 4%;
    height: 88%;
    background-color: #ffffff;
    position: absolute;
    left: 48%;
    top: 6%;
}

/*上传单张图片*/
/*#image_content{*/
    /*border-top: 1px solid transparent;*/
    /*margin-top: 30px;*/
    /*width: 280px;*/
    /*margin: auto;*/
/*}*/

/*#image_content > div{*/
    /*display: inline-block;*/
    /*float: left;*/
    /*margin-top: 10px;*/
    /*margin-left: 10px;*/
/*}*/

/*.upload-display{*/
    /*display: inline-block;*/
    /*width: 80px;*/
    /*height: 80px;*/
    /*position: relative;*/
    /*border: 1px solid #ccccff;*/
    /*margin-left: 10px;*/
/*}*/
/*.upload-display img{*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/
/*.delete-img{*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*color: rgba(168, 65, 71, 1);*//*#222222;*/
    /*font-size: 18px;*/
    /*font-weight: bolder;*/
    /*z-index: 1;*/
/*}*/

/*.adjustImg{*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*top: 0;*/
    /*left: 0;*/
    /*font-size: 60px;*/
    /*color: rgba(144, 221, 228,0.8);*/
    /*text-align: center;*/
/*}*/

#image_content{
    border-top: 1px solid transparent;
    margin-top: 30px;
    width: 50%;
    max-height: 56%;
    margin: auto;
    overflow: hidden;
}

.upload-display{
    width: 100%;
    position: relative;
    border: 1px solid #ccccff;
}
.upload-display img{
    width: 100%;
}
.delete-img{
    position: absolute;
    left: 0;
    top: 0;
    color: rgba(168, 65, 71, 1);/*#222222;*/
    font-size: 18px;
    font-weight: bolder;
    z-index: 1;
}

.adjustImg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 12rem;
    color: rgba(144, 221, 228,0.8);
    text-align: center;
}

#warn{
    position:fixed;top:0;width:100%;z-index: 10;display: none;padding:10px;text-align:center;
}

input[type=file]{
    width: 0;
    height: 0;
}

/********start 照片显示弹出框********/
#popup .modal-dialog{
    margin-top:48px;
}

#popup-btn{
    position:absolute;
    bottom:0px;
}

.modal-body{
    overflow-y: auto;
}

.modal-body img{
    max-width:100%;
}

.big-img-display{
    text-align:center;
}

#next{
    position:absolute;
    right:-48px;
    top:0%;
    color:white;
    font-size: 24px;
}

#popup-close{
    position:absolute;
    right:0;
    top:-24px;
    font-size:72px;
    color:white;
    cursor:pointer;
    z-index:1200;
}

/********end 照片显示弹出框********/

/*********start room-door*********/
/*#room{*/
    /*width: 80%;*/
    /*height: 50px;*/
    /*font-size: 40px;*/
    /*border: 1px solid #cdcdcd;*/
    /*margin: 50px auto;*/
    /*text-align: center;*/
/*}*/
/*.room_input_desc{*/
    /*width: 100%;*/
    /*text-align: center;*/
    /*margin-top: 250px;*/
/*}*/
/*.submit-div{*/
    /*width: 100%;*/
    /*text-align: center;*/
/*}*/
/*#enter-room-btn{*/
    /*padding: 8px 12px;*/
    /*border: 1px solid #cdcdcd;*/
    /*background-color: #ffffff;*/
    /*color: #1c9aff;*/
    /*font-size: 24px;*/
    /*cursor: pointer;*/
/*}*/
/*#enter-room-btn:hover{*/
    /*background-color: #c3cece;*/
    /*color: blue;*/
/*}*/


/*#favour_rooms_btn{*/
    /*text-align: center;*/
/*}*/

/*.favour_rooms{*/
    /*width: 100%;*/
/*}*/

/*.favour_room_option{*/
    /*width: 100%;*/
    /*text-align: center;*/
    /*border-bottom: 1px solid whitesmoke;*/
    /*padding-bottom: 5px;*/
    /*font-size: 18px;*/
/*}*/
body.room_door{
    background: #221A1A;
}

form.door{
    /*margin-top: 45%;*/
}

.room_input{
    margin-top:45%;
}

.room_input > input,.room_input > div{
    float: left;
}

.room_input > input{
    border: none;
    border-bottom: 1px solid #ffffff;
    font-size: 24px;
}

.submit-div{
    background: whitesmoke;
    padding: 0px 18px;
    font-size: 26px;
    margin-left: 1px;
}
.submit-div a{
    color: #c81e28;
}

.submit-div a:hover{
    text-decoration: none;
}

.room_input input{
    padding-left: 3px;
    padding-right: 0;
}

#room{
    border-radius: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
}

/*********end room-door*********/
/************start myfavorite*************/

 #room-list{
    list-style:none;
    padding:0;
 }
#room-list li:first-child{
        border-top:none;
 }
#room-list li{
        text-align: center;
        padding: 3px 12px;
        /*border-bottom: 1px solid rgb(195, 222, 233);*/
        /*border-top: 1px solid rgb(160, 178, 211);*/
 }
li.favour_room_option{
    padding: 12px 8px;
    font-size: 18px;
}

li.favour_room_option > div{

}

.nickname,.room,.fav-remove{
    background-color: whitesmoke;
    border-left: 3px solid rgba(230,230,230,1);
    padding-top: 10px;
    padding-bottom: 10px;
}

.nickname{
    border-left: none;
}

.fav-remove{
    color: rgba(200,30,40,1);
    /*font-size: 24px;*/
}

/************end myfavorite*************/

/**************start contact page**************/

.contact-page{
    display: none;
}

/**************end contact page**************/


@media screen and (min-width: 361px) {

}

@media screen and (min-width: 561px) {

}

@media screen and (min-width: 768px){/*0.71*/

}

@media screen and (min-width: 1367px) {/*0.75*/

}

@media screen and (min-width: 1601px){/*0.85*/

}

@media screen and (min-width: 1681px) { /*适配1920以及以上*/

}